header {
    background-color: rgb(102, 102, 102);
    color:whitesmoke;
    box-shadow: 0 3px 10px 3px rgb(41, 41, 41);
    margin-top: 20px;

}

.logo {
    max-height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

header h1 {
    text-align: center;
    text-decoration:  whitesmoke;
    font-size: 50px;
    padding-bottom: 30px;
}

body {
    background-color:rgb(66, 75, 75);
    color: whitesmoke;
    font-size: 20px;
}

main {
    max-width: 800px;
    margin: 0 auto;

}

h1 {
    padding-top: 0px;
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

p {
    margin-top: -15px;
}

a {
    color:whitesmoke;
}

a:hover{
    color:darkgoldenrod;
}

footer {
    background-color: rgb(102, 102, 102);
    text-align: center;
    color:whitesmoke;
    box-shadow: 0 3px 10px 3px rgb(41, 41, 41);
    padding-top: 50px;
    padding-bottom: 30px;
    margin-top: 40px;
}

footer a:hover {
    color: whitesmoke;
}

.caption {
    text-align: right;
    font-size: 15px;
    margin-right: 5%;
}

footer div {
    display:flex;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    margin-top: -50px;
    margin-bottom: -20px;
    visibility: visible;
}

footer h2 {
    margin-top: -20px;
}